.node{
    stroke: #999;
    stroke-width: 1px;
}

.link{
    stroke: #222;
    stroke-opacity: .4;
}

text{
    font-size: 10px;
    fill: #ffffff;
}

/*div{

    background-color: #222;
    position:fixed;
    right:5px;
}*/

body{
    background-image: url(images/background.jpg);
}

svg{
    position:absolute;
    top: 0px;
}

#rightdiv {
    right: 5px;
    height: 200px;
    width: 610px;
    padding: 5px 5px 5px 5px;
    border: 3px solid;
    border-color: #eee;
    border-radius: 10px;
    color: #ccc;
    font-size: 16px;
    float: right;
    background-color: #222;
}

#opis {
    padding: 5px 5px 5px 5px;
    width: 400px;
    float: left;
    column-count: 2;
    word-wrap: break-word;
}

#face {
    height: 200px;
    background-size: 100%;
    background:no-repeat;
    width: 200px;
    background-image: url(images/death_star.png);
    float: left;
}
